# Sankhya API Gateway Credentials
SANKHYA_CLIENT_ID=your-client-id
SANKHYA_CLIENT_SECRET=your-client-secret
SANKHYA_XTOKEN=your-x-token

# Sankhya Base URL
SANKHYA_BASE_URL=https://api.sandbox.sankhya.com.br

# Server Port
PORT=3000

# HubSpot Private App Token
HUBSPOT_ACCESS_TOKEN=pat-na1-xxxxxxxx
